.container-fluid{
    margin-top: 10px;
}
.entrada{
    margin-bottom: 10px;
}
#result{
    font-weight: bold;
}
#remarcas{
    resize: none;
    min-height: 100px;
    max-height: 150px;
    width: 60%;
}
#firma{
    resize: none;
    min-height: 15px;
    max-height: 30px;
    width: 60%;
}

#firmaca{
    margin-top: 10px;
}

#restar{
    margin-top: 10px;
    vertical-align: top;
}

.button{
    border-radius: 4px;
}