body{
    background-color: blanchedalmond !important;
}

.container-fluid{
    margin-top: 10px;
}
.entrada{
    margin-bottom: 10px;
}
#result{
    font-weight: bold;
}
#remarcas{
    resize: none;
    min-height: 100px;
    max-height: 150px;
    width: 60%;
}
#firma{
    resize: none;
    min-height: 15px;
    max-height: 30px;
    width: 60%;
}

#firmaca{
    margin-top: 10px;
}

#restar{
    margin-top: 10px;
    vertical-align: top;
}

.button{
    border-radius: 4px;
}

.taxTip {
    position: relative;
    display: inline-block;
    user-select: none;
}

.taxTip .taxTipText {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.taxTip:hover .taxTipText {
  visibility: visible;
}
